* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dad0d9;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #ebcd88;
    box-shadow: 0px 0px 10px rgba(103, 43, 43, 0.1);
    border-radius: 5px;
    text-align: center;
}

h2 {
    margin-bottom:20px;
}

.form-group {
    margin-bottom: 9px;
    text-align: left;
    font-size: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 10px;
}

button:hover {
    background-color: #0056b3;
}

.signup-link {
    margin-top: 15px;
    font-size: 10px;
}

.signup-link a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration:unset;
}

.remember-me-checkbox{
    display: flex;
    margin-right: 20px;
}

.remember-forgot-password{
    display: flex;
    justify-content: space-between;
}